<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Homepage</title>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">QuickMed</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/medicine">All Medicine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-sm-6" id="land">
        <h1><span class="text1">Take Care of Your</span><br><span class="text2">Health Anytime</span> <br><span
            class="text3">Anywhere</span> </h1>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-primary">Sign Up</a>
      </div>
      <div class="col-sm-6">
        <img src="../../../assets/images/undraw_medicine_b-1-ol.svg" width="100%">
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-top-1647574862">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <div class="container-fluid" id="about">
    <div class="row">

      <div class="col-sm-12" id="words">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam corporis possimus aut suscipit impedit non
          vero, reprehenderit perspiciatis provident voluptates distinctio eius placeat at quam optio unde debitis
          tenetur numquam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam labore sequi quam officia ea tenetur eaque
          ratione quaerat a. Reprehenderit ut veniam, neque officia deserunt dolores facere exercitationem ducimus
          repellat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id saepe animi nemo eius dolorem cupiditate ad
          repellat consectetur ipsa nobis fugit accusantium voluptatibus voluptatum distinctio quisquam esse autem,
          reiciendis nihil.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id saepe animi nemo eius dolorem cupiditate ad
          repellat consectetur ipsa nobis fugit accusantium voluptatibus voluptatum distinctio quisquam esse autem,
          reiciendis nihil.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id saepe animi nemo eius dolorem cupiditate ad
          repellat consectetur ipsa nobis fugit accusantium voluptatibus voluptatum distinctio quisquam esse autem,
          reiciendis nihil.</p>
      </div>
    </div>
  </div>
  <div class="wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <div class="container" style="margin-top: 65px;">
    <div class="row">
      <div class="col-sm-12">
        <h3 style="text-align: center;">Our Services</h3>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <img src="../../../assets/images/undraw_online_world_re_h4cb.svg" width="50%" alt="">
        </div>
        <div class="col-sm-6">
          <h3 class="head" style="text-align: center;">Free Online Consultations</h3>
          <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut soluta facere in officiis odio a
            similique
            quas ipsum, unde sapiente sit, quo iste dolor possimus doloremque eum neque? Sint, nam?
            Repellat fugiat adipisci beatae dolor natus odio exercitationem dolore dolorum officia consequatur debitis
            aut ut officiis corporis deserunt qui similique ipsa, ipsum commodi est. Nulla nam repellendus sed quis
            fuga?
            Quis, eos fugiat. Eos quis vel quo eius. Reprehenderit quasi amet minus eos corrupti! Nobis quas
            consequuntur esse vel. Perferendis cupiditate quo blanditiis aut vero doloribus voluptates cumque eos
            consequuntur.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h3 class="head" style="text-align: center;">Fitness and Healthy Eating Guidance</h3>
          <p class="info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, repellat obcaecati cumque
            consequuntur, ipsa
            explicabo possimus tempore debitis modi aspernatur repudiandae voluptates labore culpa unde. Sed nisi
            consectetur dolor nulla.
            Aliquam, provident rem! Inventore, earum. Aperiam perspiciatis temporibus nemo ducimus inventore, dolor
            fugiat, dolorem dolores iusto voluptatem asperiores deleniti quam ipsum reiciendis similique, quis est in
            vero eveniet adipisci pariatur.
            Numquam architecto aliquam ducimus cupiditate pariatur qui ab ratione? Quaerat quasi laboriosam sed fugiat
            asperiores, temporibus totam quis consequuntur eveniet soluta est natus sapiente at illum ab cumque
            reprehenderit ipsam!
          </p>
        </div>
        <div class="col-sm-6">
          <img src="../../../assets/images/undraw_working_out_-6-psf.svg" width="100%" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <img src="../../../assets/images/undraw_medical_care_movn.svg" width="100%" alt="">
        </div>
        <div class="col-sm-6">
          <h3 class="head" style="text-align: center;">Quality Aprroved Medicine</h3>
          <p class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore sit, distinctio deserunt
            nesciunt animi
            placeat, veritatis voluptas eos quis fugit reiciendis earum. Magni aut omnis nemo voluptates dolores, quidem
            inventore?
            Placeat, enim aperiam corporis doloribus eos dolorem consequuntur aspernatur culpa quam esse velit harum
            explicabo at, est quos illum sunt, repellendus molestiae sed consectetur minima. Beatae provident omnis
            quaerat temporibus.
            Corrupti ipsam sunt illum iusto sapiente excepturi possimus cupiditate quis nemo quos, esse ex tempora sint,
            mollitia quidem veritatis. Ut accusamus consequatur, impedit officia illum vero repudiandae tempora
            doloribus blanditiis?
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h3 style="text-align: center;">Contact Us</h3>
      <div class="col-sm-4">
        Location
      </div>
      <div class="col-sm-4">
        Social
      </div>
      <div class="col-sm-4">

      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>